In [27]:
##libraries
library(tidyverse)
library(janitor)
library(lubridate)
library(readxl)
library(writexl)

In [28]:
#2013
df_13 = read_csv("data\\Divvy_Stations_Trips_2013\\Divvy_Trips_2013.csv")
df_13 = df_13 %>% clean_names()
df_13 = df_13 %>% rename(birthyear = birthday)

Rows: 759788 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, bir...
dttm (2): starttime, stoptime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [29]:
# 2014
## import data
df_201407 = read_csv("data\\Divvy_Stations_Trips_2014_Q3Q4\\Divvy_Trips_2014-Q3-07.csv")
df_20140809 = read_csv("data\\Divvy_Stations_Trips_2014_Q3Q4\\Divvy_Trips_2014-Q3-0809.csv")

#join to get q3 data
df_q3 = rbind(df_201407, df_20140809)

# get q1q2, q4 data
df_14q1_2 = read_csv("data\\Divvy_Trips_2014_Q1Q2.csv")
df_14q4 = read_csv("data\\Divvy_Stations_Trips_2014_Q3Q4\\Divvy_Trips_2014-Q4.csv")

###bind 2014 data

df_14 = rbind(df_14q1_2, df_q3,df_14q4)

Rows: 410340 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 700630 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 905699 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 437965 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [30]:
# 2014
### Get 2015 data --q1,2,4

df_15q1 = read_csv("data\\Divvy_Trips_2015-Q1.csv")
df_15q2 = read_csv("data\\Divvy_Trips_2015-Q2.csv")
df_15q4 = read_csv("data\\Divvy_Trips_2015_Q4.csv")

### get 2015 q3 data
df_150307 = read_csv("data\\Divvy_Trips_2015_07.csv")
df_150308 = read_csv("data\\Divvy_Trips_2015_08.csv")
df_150309 = read_csv("data\\Divvy_Trips_2015_08.csv")
##bind to get q3 data
df_15q3 = rbind(df_150307, df_150308, df_150309)

### bind 2015 data
df_15 = rbind(df_15q1, df_15q2, df_15q3, df_15q4)

Rows: 202349 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 893890 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 631365 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 533711 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 495029 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 495029 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [31]:
# 2016
##q1 data
df_16q1 = read_csv("data\\Divvy_Trips_2016_Q1Q2\\Divvy_Trips_2016_Q1.csv")
df_16q3 = read_csv("data\\Divvy_Trips_2016_Q3.csv")
df_16q4 = read_csv("data\\Divvy_Trips_2016_Q4.csv")

## bind q2 data
df_q204 = read_csv("data\\Divvy_Trips_2016_Q1Q2\\Divvy_Trips_2016_04.csv")
df_q205 = read_csv("data\\Divvy_Trips_2016_Q1Q2\\Divvy_Trips_2016_05.csv")
df_q206 = read_csv("data\\Divvy_Trips_2016_Q1Q2\\Divvy_Trips_2016_06.csv")
## bind to get q2 data
df_16q2 = rbind(df_q204, df_q205, df_q206)

## 2016 data

df_16 = rbind(df_16q1, df_16q2, df_16q3, df_16q4)

Rows: 396913 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1441811 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 683832 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 231635 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 363319 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 477873 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): starttime, stoptime, from_station_name, to_station_name, usertype, ...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [32]:
#2017 data
df_17q1 = read_csv("data\\Divvy_Trips_2017_Q1.csv")
df_17q2 = read_csv("data\\Divvy_Trips_2017_Q2.csv")
df_17q3 = read_csv("data\\Divvy_Trips_2017_Q3.csv")
df_17q4 = read_csv("data\\Divvy_Trips_2017_Q4.csv")

##bind

df_17 = rbind(df_17q1, df_17q2, df_17q3, df_17q4)

Rows: 431691 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): start_time, end_time, from_station_name, to_station_name, usertype,...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1119814 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): start_time, end_time, from_station_name, to_station_name, usertype,...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1608270 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): start_time, end_time, from_station_name, to_station_name, usertype,...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 669239 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): start_time, end_time, from_station_name, to_station_name, usertype,...
dbl (6): trip_id, bikeid, tripduration, from_station_id, to_station_id, birt...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [33]:
# 2018 data
df_18q1 = read_csv("data\\Divvy_Trips_2018_Q1.csv")
df_18q2 = read_csv("data\\Divvy_Trips_2018_Q2.csv")
df_18q3 = read_csv("data\\Divvy_Trips_2018_Q3.csv")
df_18q4 = read_csv("data\\Divvy_Trips_2018_Q4.csv")

df_18q1 = df_18q1 %>% clean_names()

Rows: 387145 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): 03 - Rental Start Station Name, 02 - Rental End Station Name, User...
dbl  (5): 01 - Rental Details Rental ID, 01 - Rental Details Bike ID, 03 - R...
dttm (2): 01 - Rental Details Local Start Time, 01 - Rental Details Local En...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1059681 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1513570 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 642686 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [34]:
df_18q1 %>% head()

  x01_rental_details_rental_id x01_rental_details_local_start_time
1 17536702                     2018-01-01 00:12:00
2 17536703                     2018-01-01 00:41:35
3 17536704                     2018-01-01 00:44:46
4 17536705                     2018-01-01 00:53:10
5 17536706                     2018-01-01 00:53:37
6 17536707                     2018-01-01 00:56:15
  x01_rental_details_local_end_time x01_rental_details_bike_id
1 2018-01-01 00:17:23               3304
2 2018-01-01 00:47:52               5367
3 2018-01-01 01:33:10               4599
4 2018-01-01 01:05:37               2302
5 2018-01-01 00:56:40               3696
6 2018-01-01 01:00:41               6298
  x01_rental_details_duration_in_seconds_uncapped x03_rental_start_station_id
1  323                                             69
2  377                                            253
3 2904                                             98
4  747                                            125
5  183                                            129
6  266                                            304
  x03_rental_start_station_name x02_rental_end_station_id
1 Damen Ave & Pierce Ave        159
2 Winthrop Ave & Lawrence Ave   325
3 LaSalle St & Washington St    509
4 Rush St & Hubbard St          364
5 Blue Island Ave & 18th St     205
6 Broadway & Waveland Ave       299
  x02_rental_end_station_name    user_type  member_gender
1 Claremont Ave & Hirsch St      Subscriber Male
2 Clark St & Winnemac Ave (Temp) Subscriber Male
3 Troy St & North Ave            Subscriber Male
4 Larrabee St & Oak St           Subscriber Male
5 Paulina St & 18th St           Subscriber Male
6 Halsted St & Roscoe St         Subscriber Female
  x05_member_details_member_birthday_year
1 1988
2 1984
3 1989
4 1983
5 1989
6 1994

In [35]:
##rename columns to make them uniform for easier binding
df_18q1 = rename(df_18q1, c(trip_id = x01_rental_details_rental_id, start_time = x01_rental_details_local_start_time, end_time = x01_rental_details_local_end_time,
                            bikeid = x01_rental_details_bike_id,
                            tripduration = x01_rental_details_duration_in_seconds_uncapped,
                            from_station_id = x03_rental_start_station_id,
                            from_station_name = x03_rental_start_station_name,
                            to_station_id = x02_rental_end_station_id,
                            to_station_name = x02_rental_end_station_name,
                            usertype = user_type,
                            gender = member_gender,
                            birthyear = x05_member_details_member_birthday_year))

In [36]:
##glimpse at the data to confirm change in column names
df_18q1 %>% head()

  trip_id  start_time          end_time            bikeid tripduration
1 17536702 2018-01-01 00:12:00 2018-01-01 00:17:23 3304    323
2 17536703 2018-01-01 00:41:35 2018-01-01 00:47:52 5367    377
3 17536704 2018-01-01 00:44:46 2018-01-01 01:33:10 4599   2904
4 17536705 2018-01-01 00:53:10 2018-01-01 01:05:37 2302    747
5 17536706 2018-01-01 00:53:37 2018-01-01 00:56:40 3696    183
6 17536707 2018-01-01 00:56:15 2018-01-01 01:00:41 6298    266
  from_station_id from_station_name           to_station_id
1  69             Damen Ave & Pierce Ave      159
2 253             Winthrop Ave & Lawrence Ave 325
3  98             LaSalle St & Washington St  509
4 125             Rush St & Hubbard St        364
5 129             Blue Island Ave & 18th St   205
6 304             Broadway & Waveland Ave     299
  to_station_name                usertype   gender birthyear
1 Claremont Ave & Hirsch St      Subscriber Male   1988
2 Clark St & Winnemac Ave (Temp) Subscriber Male   1984
3 Troy St & North Ave            Subscriber Male   1989
4 Larrabee St & Oak St           Subscriber Male   1983
5 Paulina St & 18th St           Subscriber Male   1989
6 Halsted St & Roscoe St         Subscriber Female 1994

In [37]:
## bind
df_18 = rbind(df_18q1, df_18q2, df_18q3, df_18q4)

In [38]:
## 2019
#2019 data
df_19q1 = read_csv("data\\Divvy_Trips_2019_Q1.csv")
df_19q2 = read_csv("data\\Divvy_Trips_2019_Q2.csv")
df_19q3 = read_csv("data\\Divvy_Trips_2019_Q3.csv")
df_19q4 = read_csv("data\\Divvy_Trips_2019_Q4.csv")

df_19q2 = df_19q2 %>% clean_names()

Rows: 365069 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1108163 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): 03 - Rental Start Station Name, 02 - Rental End Station Name, User...
dbl  (5): 01 - Rental Details Rental ID, 01 - Rental Details Bike ID, 03 - R...
dttm (2): 01 - Rental Details Local Start Time, 01 - Rental Details Local En...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1640718 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 704054 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): from_station_name, to_station_name, usertype, gender
dbl  (5): trip_id, bikeid, from_station_id, to_station_id, birthyear
dttm (2): start_time, end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [39]:
df_19q2 = rename(df_19q2, c(trip_id = x01_rental_details_rental_id, start_time = x01_rental_details_local_start_time, end_time = x01_rental_details_local_end_time,
                            bikeid = x01_rental_details_bike_id,
                            tripduration = x01_rental_details_duration_in_seconds_uncapped,
                            from_station_id = x03_rental_start_station_id,
                            from_station_name = x03_rental_start_station_name,
                            to_station_id = x02_rental_end_station_id,
                            to_station_name = x02_rental_end_station_name,
                            usertype = user_type,
                            gender = member_gender,
                            birthyear = x05_member_details_member_birthday_year))

In [40]:
## bind
df_19 = rbind(df_19q1, df_19q2, df_19q3, df_19q4)

In [41]:
#2020
#2020 data
df_20q1 = read_csv("data\\Divvy_Trips_2020_Q1.csv")

df_2004 = read_csv("data\\202004-divvy-tripdata.csv")
df_2005 = read_csv("data\\202005-divvy-tripdata.csv")
df_2006 = read_csv("data\\202006-divvy-tripdata.csv")
df_2007 = read_csv("data\\202007-divvy-tripdata.csv")
df_2008 = read_csv("data\\202008-divvy-tripdata.csv")
df_2009 = read_csv("data\\202009-divvy-tripdata.csv")
df_2010 = read_csv("data\\202010-divvy-tripdata.csv")
df_2011 = read_csv("data\\202011-divvy-tripdata.csv")
df_2012 = read_csv("data\\202012-divvy-tripdata.csv")

Rows: 426887 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 84776 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 200274 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 343005 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 551480 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 622361 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 532958 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 388653 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 259716 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): ride_id, rideable_type, start_station_name, end_station_name, memb...
dbl  (6): start_station_id, end_station_id, start_lat, start_lng, end_lat, e...
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 131573 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [42]:
df_20 = rbind(df_20q1, df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012)

In [43]:
## 2021 data

##2021 data
df_2101 = read_csv("data\\202101-divvy-tripdata.csv")
df_2102 = read_csv("data\\202102-divvy-tripdata.csv")
df_2103 = read_csv("data\\202103-divvy-tripdata.csv")
df_2104 = read_csv("data\\202104-divvy-tripdata.csv")
df_2105 = read_csv("data\\202105-divvy-tripdata.csv")
df_2106 = read_csv("data\\202106-divvy-tripdata.csv")
df_2107 = read_csv("data\\202107-divvy-tripdata.csv")
df_2108 = read_csv("data\\202108-divvy-tripdata.csv")
df_2109 = read_csv("data\\202109-divvy-tripdata.csv")
df_2110 = read_csv("data\\202110-divvy-tripdata.csv")
df_2111 = read_csv("data\\202111-divvy-tripdata.csv")
df_2112 = read_csv("data\\202112-divvy-tripdata.csv")
#bind
df_21  =rbind(df_2101, df_2102, df_2103, df_2104,df_2105, df_2106, df_2107, 
              df_2108, df_2109, df_2110, df_2111, df_2112)

Rows: 96834 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 49622 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 228496 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 337230 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 531633 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 729595 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 822410 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 804352 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 756147 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 631226 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 359978 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 247540 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [44]:
df_21 %>% head()

  ride_id          rideable_type started_at          ended_at
1 E19E6F1B8D4C42ED electric_bike 2021-01-23 16:14:19 2021-01-23 16:24:44
2 DC88F20C2C55F27F electric_bike 2021-01-27 18:43:08 2021-01-27 18:47:12
3 EC45C94683FE3F27 electric_bike 2021-01-21 22:35:54 2021-01-21 22:37:14
4 4FA453A75AE377DB electric_bike 2021-01-07 13:31:13 2021-01-07 13:42:55
5 BE5E8EB4E7263A0B electric_bike 2021-01-23 02:24:02 2021-01-23 02:24:45
6 5D8969F88C773979 electric_bike 2021-01-09 14:24:07 2021-01-09 15:17:54
  start_station_name         start_station_id end_station_name end_station_id
1 California Ave & Cortez St 17660            NA               NA
2 California Ave & Cortez St 17660            NA               NA
3 California Ave & Cortez St 17660            NA               NA
4 California Ave & Cortez St 17660            NA               NA
5 California Ave & Cortez St 17660            NA               NA
6 California Ave & Cortez St 17660            NA               NA
  start_lat start_lng end_lat end_lng member_casual
1 41.90034  -87.69674 41.89   -87.72  member
2 41.90033  -87.69671 41.90   -87.69  member
3 41.90031  -87.69664 41.90   -87.70  member
4 41.90040  -87.69666 41.92   -87.69  member
5 41.90033  -87.69670 41.90   -87.70  casual
6 41.90041  -87.69676 41.94   -87.71  casual

In [45]:
## 2022 data
df_2201 = read_csv("data\\202201-divvy-tripdata.csv")
df_2202 = read_csv("data\\202202-divvy-tripdata.csv")
df_2203 = read_csv("data\\202203-divvy-tripdata.csv")
df_2204 = read_csv("data\\202204-divvy-tripdata.csv")
df_2205 = read_csv("data\\202205-divvy-tripdata.csv")

df_22 = rbind(df_2201, df_2202, df_2203, df_2204, df_2205)

Rows: 103770 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 115609 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 284042 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 371249 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 634858 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [46]:
df_22 %>% head()

  ride_id          rideable_type started_at          ended_at
1 C2F7DD78E82EC875 electric_bike 2022-01-13 11:59:47 2022-01-13 12:02:44
2 A6CF8980A652D272 electric_bike 2022-01-10 08:41:56 2022-01-10 08:46:17
3 BD0F91DFF741C66D classic_bike  2022-01-25 04:53:40 2022-01-25 04:58:01
4 CBB80ED419105406 classic_bike  2022-01-04 00:18:04 2022-01-04 00:33:00
5 DDC963BFDDA51EEA classic_bike  2022-01-20 01:31:10 2022-01-20 01:37:12
6 A39C6F6CC0586C0B classic_bike  2022-01-11 18:48:09 2022-01-11 18:51:31
  start_station_name            start_station_id end_station_name
1 Glenwood Ave & Touhy Ave      525              Clark St & Touhy Ave
2 Glenwood Ave & Touhy Ave      525              Clark St & Touhy Ave
3 Sheffield Ave & Fullerton Ave TA1306000016     Greenview Ave & Fullerton Ave
4 Clark St & Bryn Mawr Ave      KA1504000151     Paulina St & Montrose Ave
5 Michigan Ave & Jackson Blvd   TA1309000002     State St & Randolph St
6 Wood St & Chicago Ave         637              Honore St & Division St
  end_station_id start_lat start_lng end_lat  end_lng   member_casual
1 RP-007         42.01280  -87.66591 42.01256 -87.67437 casual
2 RP-007         42.01276  -87.66597 42.01256 -87.67437 casual
3 TA1307000001   41.92560  -87.65371 41.92533 -87.66580 member
4 TA1309000021   41.98359  -87.66915 41.96151 -87.67139 casual
5 TA1305000029   41.87785  -87.62408 41.88462 -87.62783 member
6 TA1305000034   41.89563  -87.67207 41.90312 -87.67394 member

In [47]:
### bind 2020, 2021 and 2022 data
df_20_22 = rbind(df_20, df_21, df_22)

In [48]:

df_17 = rename(df_17, c(starttime = start_time, stoptime = end_time))

In [49]:
df_18 = rename(df_18, c(starttime = start_time, stoptime = end_time))

In [50]:
df_19 = rename(df_19, c(starttime = start_time, stoptime = end_time))

In [51]:
glimpse(df_17)

Rows: 3,829,014
Columns: 12
$ trip_id           <dbl> 13518905, 13518904, 13518903, 13518902, 13518901, 13…
$ starttime         <chr> "3/31/2017 23:59:07", "3/31/2017 23:56:25", "3/31/20…
$ stoptime          <chr> "4/1/2017 00:13:24", "4/1/2017 00:00:21", "4/1/2017 …
$ bikeid            <dbl> 5292, 4408, 696, 4915, 4247, 3536, 5111, 1579, 3914,…
$ tripduration      <dbl> 857, 236, 348, 288, 415, 242, 361, 354, 299, 1173, 1…
$ from_station_id   <dbl> 66, 199, 520, 110, 327, 143, 81, 56, 210, 117, 117, …
$ from_station_name <chr> "Clinton St & Lake St", "Wabash Ave & Grand Ave", "G…
$ to_station_id     <dbl> 171, 26, 432, 142, 331, 289, 41, 77, 69, 29, 29, 303…
$ to_station_name   <chr> "May St & Cullerton St", "McClurg Ct & Illinois St",…
$ usertype          <chr> "Subscriber", "Subscriber", "Subscriber", "Subscribe…
$ gender            <chr> "Male", "Male", "Female", "Male", "Female", "Male", …
$ birthyear         <dbl> 1989, 1990, 1979, 1985, 1989, 1988, 1987, 1981, 1992…

In [ ]:
###CONNECT TO SQL AND SEND TABLES TO POSTGRES DB

In [52]:
library(RPostgreSQL)
library(RPostgres)
library(devtools)
library(remotes)

Loading required package: DBI

Loading required package: usethis


Attaching package: 'remotes'


The following objects are masked from 'package:devtools':

    dev_package_deps, install_bioc, install_bitbucket, install_cran,
    install_deps, install_dev, install_git, install_github,
    install_gitlab, install_local, install_svn, install_url,
    install_version, update_packages


The following object is masked from 'package:usethis':

    git_credentials

In [53]:
library(DBI)

db <- 'bikeshare_db'  #provide the name of your db

host_db <- 'localhost' #i.e. # i.e. 'ec2-54-83-201-96.compute-1.amazonaws.com'  

db_port <- '5432'  # or any other port specified by the DBA

db_user <- 'postgres'  

db_password <- '4156'

con <- dbConnect(RPostgres::Postgres(), dbname = db, host=host_db, port=db_port, user=db_user, password=db_password)

In [54]:
dbListTables(con)

character(0)

In [55]:
dbWriteTable(con, "df_13", df_13)

In [57]:
dbWriteTable(con, "df_14", df_14)

In [58]:
dbWriteTable(con, "df_15", df_15)

In [59]:
dbWriteTable(con, "df_16", df_16)

In [60]:
dbWriteTable(con, "df_17", df_17)

In [61]:
dbWriteTable(con, "df_18", df_18)

In [62]:
dbWriteTable(con, "df_19", df_19)

In [63]:
dbWriteTable(con, "df_20_22", df_20_22)